services:
  - type: web
    name: columbiacals-backend
    env: python
    rootDir: ColumbiaCals-Backend
    envVars:
      - key: AUTO_REFRESH_ON_START
        value: "true"
      - key: PLAYWRIGHT_BROWSERS_PATH
        value: "/opt/render/.cache/ms-playwright"
    buildCommand: "pip install -r requirements.txt && playwright install chromium && playwright install-deps chromium"
    startCommand: "gunicorn server:app --bind 0.0.0.0:$PORT"