services:
  - type: web
    name: columbiacals-backend
    env: python
    rootDir: ColumbiaCals-Backend
    envVars:
      - key: AUTO_REFRESH_ON_START
        value: "true"
      - key: TZ
        value: "America/New_York"
      - key: DATABASE_PATH
        value: "/var/data/ratings.db"
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn server:app --bind 0.0.0.0:$PORT"
    disk:
      name: ratings-data
      mountPath: /var/data
      sizeGB: 1